<a href="https://colab.research.google.com/github/AkshayaTamilarasan/Akshaya/blob/main/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
A=[8, 2, 3, 0, 7]

print(sum(A))

20

In [ ]:
A = "1234abcd"

print(A[::-1])

dcba4321

In [ ]:
def sum(num):

  tot = 0

  for e in num:

        tot += e

  return tot

print(sum([8, 2, 3, 0, 7]))

20

In [ ]:
def letters_count(str):

  Uppercase = 0

  Lowercase = 0

  for e in str:  

        if(e.islower()):

          Lowercase=Lowercase+1

        elif(e.isupper()):

          Uppercase = Uppercase + 1

  print(f'No of Upper character is: {Uppercase}')

  print(f"No of Lower character: {Lowercase}")




letters_count("The quick Brow Fox")

No of Upper character is: 3
No of Lower character: 12

In [ ]:
def reverse_string(string):  

    S = ""

    for e in string:  

        S = e + S  

    return S

print(reverse_string("1234abcd"))

dcba4321